.boxx{
    padding:10px;
    background-color: cornflowerblue;
    color: crimson;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 10px purple;
    margin-bottom:20px ;
}
h1{
    background-color: antiquewhite;
}
.pos{
    position:fixed;
    background-color: antiquewhite;
    text-align: center;
    margin-top:-25px;
    margin-left:-10px;
    padding: 5px;
    width:1080px;

}